body {
    background: black;
}

#gameMessage {

    background-color:FFFFFF;
    width: 250px;
    height: 249px;
    z-index: -4;
    top: 20%;
    left: 22%;
	position: absolute;
    opacity: 0;
}

.messageBeginning {

}

#gameMessage.gameEnding {
    background-image: url("Images/Cat.png");
    z-index: 20;
}
.square {
    position: absolute;
    width: 124px;
    height: 124px;
    opacity: 0;
}

.yui3-tic-tac-toe-board-content {
    width: 500px;
    height: 500px;
    background-image: url("Images/Background.png");
    position: relative;
}

.x {
    background-image: url("Images/x.png");
}

.o {

    background-image: url("Images/o.png");
}

.topHeight {

    top: 8.8%;

}

.middleHeight {

    top: 35.5%;

}

.bottomHeight {

    top: 61.5%;

}

.left {
    left: 9.2%;
}

.center {
    left: 35.6%;
}

.right {
    left: 62%;
}
